<%= content_for :head do %>
  <%= javascript_include_tag "jquery.treeview"%>
  <script type='text/javascript'>
    $(function() {
        $("#categories").treeview();
    });
  </script>
<% end %>

<h1>Listing Categories</h1>

<ul id='categories' class='filetree'>
  <% Category.roots.each do |root| %>
    <%= admin_treeview(root) %>
  <% end %>
</ul>

<br />

<%= link_to 'New Category', new_admin_category_path %>
